In [1]:
import pandas as pd

In [25]:
# read a sample of the dataset
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = f'{prefix}/yellow_tripdata_2021-01.csv.gz'
url
df = pd.read_csv(prefix + 'yellow_tripdata_2021-01.csv.gz', nrows=100)

# Display the first few rows of the dataframe
df.head()

# Check data types of each column
df.dtypes

# Check data shape
df.shape

(100, 18)

In [19]:
# Specify the data types for each column
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    prefix + 'yellow_tripdata_2021-01.csv.gz',
    nrows=2000000000,
    dtype=dtype,
    parse_dates=parse_dates
)

In [20]:
#Ingesting data into PostgreSQL database using SQLAlchemy 
# Install sqlalchemy and psycopg2-binary if not already installed
!uv add sqlalchemy psycopg2-binary

Resolved 119 packages in 0.60ms
Audited 11 packages in 0.19ms

In [21]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [22]:
#Create the table/schema. If the table with this name already exists, we are going to drop it and create a new one. 
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [23]:
len(df)

1369765

In [17]:
#schema that will be created in our database
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [27]:
#Ingesting data in chunks since we cannot take the whole dataset at once. We will do batches and use an iterator for that. 
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

In [29]:
df = next(df_iter)

In [30]:
#Iterate over chunks. 
for df_chunk in df_iter:
    print(len(df_chunk))

100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
69765

In [31]:
#For inserting data
df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

765

In [42]:
#to see progress of data ingestion
!uv add tqdm

Resolved 120 packages in 1ms
Audited 12 packages in 0.19ms

In [43]:
from tqdm.auto import tqdm

In [44]:
#Completing the ingestion loop
first = True

for df_chunk in tqdm(df_iter):

    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="yellow_taxi_data",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append"
    )

    print("Inserted:", len(df_chunk))

0it [00:00, ?it/s]